<h1>Meetup App</h1>
<nav>
  <%= link_to "Events", events_url %>
  <%= link_to "Venues", venues_url %>
</nav>

<hr>

<h1>New Venue</h1>

<%= render 'form' %>


<% link_to 'Show', @venue %> |
<%= link_to 'Back', venues_path %>
